* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 2%;
    display: flex;
}

.left-box {
    width: 20%;
    flex-direction: column;
}

.right-box {
    width: 80%;
    background-color: rgba(0, 0, 0, 5%);
}
